@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skyBlue: 188 53% 73%; /* #97D6DF */
  --redText:  15 88% 55%; /* #F15A29 */
  --buttonColorOrange: 15 88% 55%; /* #F15A29 */
  --ordinarytext: 212 10% 25%; /* #383E45 */

  --linearGradient: 270deg, #000 81.58%, #F15A29 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-redhat: var(--font-redhat);
  --color-skyBlue: hsl(var(--skyBlue));
  --color-redText: hsl(var(--redText));
  --color-ordinarytext: hsl(var(--ordinarytext));
  --color-buttonColorOrange: hsl(var(--buttonColorOrange));
  /* --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-redhat);
}
