@use "../sass/index.scss" as *;

.outline_white_btn {
  background: transparent;
  color: var(--button-ink-light);
  border: 1px solid var(--button-light);
  padding: toRem(6px) toRem(20px);
  border-radius: toRem(50px);
  font-size: toRem(15px);
  font-weight: var(--fw_medium);
  cursor: pointer;
  transition: all 0.3s ease;
  @include displayFlex(row, center, center);
  gap: toRem(8px);
  min-height: toRem(40px);
  text-transform: capitalize;
  min-width: toRem(110px);
  &:hover {
    background: var(--button-secondary);
    color: var(--button-ink-dark);
    border: 1px solid var(--button-secondary);

    & > * {
      color: var(--button-ink-dark);
    }
  }
}

.primary_btn {
  background: transparent;
  color: var(--button-ink-dark);
  padding: toRem(6px) toRem(20px);
  border-radius: toRem(40px);
  font-size: toRem(15px);
  font-weight: var(--fw_medium);
  cursor: pointer;
  transition: all 0.3s ease;
  @include displayFlex(row, center, center);
  gap: toRem(8px);
  min-height: toRem(40px);
  text-transform: capitalize;
  background: var(--button-secondary);
  min-width: toRem(110px);
  &:hover {
    background: var(--button-primary);
    color: var(--button-ink-light);

    & > * {
      color: var(--button-ink-light);
    }
  }
}
