@use "sass:math";

// Convert a value to rem
@function toRem($value) {
  // Convert pixel value to rem based on a 16px root font size
  @if math.unit($value) == px {
    @return calc(1rem / 16px * $value);
  } @else {
    // If value is already in rem or other units, return as-is
    @return $value;
  }
}


// Flexbox
@mixin displayFlex($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin textGradient($clr) {
  background: $clr;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin textBorderGradient($clr, $stroke: toRem(8px)) {
  background: $clr;
  // background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: toRem($stroke) transparent;
}

@mixin min($minWidth) {
  @media (min-width: $minWidth) {
    @content;
  }
}

@mixin max($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}
